*.suo
Kitchen Panic/.vs/Kitchen Panic/v14/.suo
Artistkram/Adi/Level 1/Küchentheke Ecke/Textures/Küchentheke_Ecke_basecolor.png

Artistkram/Adi/Level 1/Küchentheke Gerade/Textures/Küchentheke_Gerade_basecolor.png

Artistkram/Adi/Level 1/Kühlschrank/Textures/Kühlschrank_basecolor.png

Artistkram/Adi/Level 1/Küchentheke Gerade/Textures/Küchentheke_Gerade_basecolor.png

Artistkram/Adi/Level 1/Küchentheke Gerade/Textures/Küchentheke_Gerade_basecolor.png

Artistkram/Adi/Level 1/Kühlschrank/Textures/Kühlschrank_basecolor.png

Artistkram/Adi/Level 1/Kühlschrank/Textures/Kühlschrank_normal.png

Artistkram/Adi/Level 1/Kundentheke Ecke/Textures/Kundentheke_Ecke_basecolor.png

Artistkram/Adi/Level 1/Aufbewahrungskiste/Textures/Aufbewahrungskiste_basecolor.png

Artistkram/Adi/Level 1/Aufbewahrungskiste/Textures/Aufbewahrungskiste_normal.png

Artistkram/Adi/Level 1/Aufbewahrungsschrank/Textures/Aufbewahrungsschrank_basecolor.png

Artistkram/Adi/Level 1/Aufbewahrungsschrank/Textures/Aufbewahrungsschrank_normal.png

Artistkram/Adi/Level 1/Fisch/fisch_low.fbx

Artistkram/Adi/Level 1/Karotte/karotte_low.fbx

Artistkram/Adi/Level 1/Kundentheke Ecke/Textures/Kundentheke_Ecke_normal.png

Artistkram/Adi/Level 1/Kundentheke Gerade/Textures/Kundentheke_basecolor.png

Artistkram/Adi/Level 1/Kundentheke Gerade/Textures/Kundentheke_normal.png

Artistkram/Adi/Level 1/Makisu/Textures/Makisu_basecolor.png

Artistkram/Adi/Level 1/Makisu/Textures/Makisu_normal.png

Artistkram/Adi/Level 1/Mülleimer/Textures/Mülleimer_basecolor.png

Artistkram/Adi/Level 1/Mülleimer/Textures/Mülleimer_normal.png

Artistkram/Adi/Level 1/Reis/reis_low.fbx

Artistkram/Adi/Level 1/Reiskocher/Textures/Reiskocher_basecolor.png

Artistkram/Adi/Level 1/Reiskocher/Textures/Reiskocher_normal.png

Artistkram/Adi/Level 1/Waschbecken/Textures/Waschbecken_basecolor.png

Artistkram/Adi/Level 1/Waschbecken/Textures/Waschbecken_normal.png

Artistkram/Adi/Level 2/Nudeln/nudeln_low.fbx

Artistkram/Adi/Materials/.autosave/Level1.sbs

Artistkram/Adi/Materials/Level1.sbs
